p {
    color: #757575;
    font-family: roboto;
    font-style: regular;
    font-size: 14px;
    line-height: 24px;
    line-height: 146%;
    text-align: left;
    vertical-align: top;
    letter-spacing: 3%
}
nav{
    color: #212121;
    font-family: roboto;
    font-style: medium;
    font-size: 14px;
    line-height: 16px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    letter-spacing: 2%
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
                        img {}

                      .class{}


.logo{
    color:#2196F3;
    font-family: raleway;
    font-style: bold;
    font-size: 26px;
    line-height: 31px;
    line-height: 100%;
    vertical-align: top;
    letter-spacing: 3%;
}    
.head{
    text-align: right;
}
.foot{
    text-align: left;
}
.color{
    color:#212121;
}
.tittle-text{
    font-family: roboto;
    font-style: bold;
    font-size: 14px;
    line-height: 16px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    letter-spacing: 3%

}
.links{
    color:#212121;
}
.links:hover{
    color: #2196F3;
}
.contacts{
    color:#757575;
    font-family: roboto;
    font-style: medium;
    font-size: 14px;
    line-height: 16px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    letter-spacing: 2%
}
.contacts:hover{
    color: #2196F3
}
.tittle-second{
    font-family: roboto;
    font-style: bold;
    font-size: 36px;
    line-height: 42px;
    line-height: 100%;
    text-align: center;
    vertical-align: top;
    letter-spacing: 3%;
}
.name{
    font-family: roboto;
    font-style: medium;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    text-align: center;
    vertical-align: top;
    letter-spacing: 3%;
}
.job{
    font-family: roboto;
    font-style: regular;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    text-align: center;
    vertical-align: top;
    letter-spacing: 3%;
}

                     #id{}

#tittle{
    color: #FFFFFF;
    font-family: roboto;
    font-style:black;
    font-size: 44px;
    line-height: 60px;
    line-height: 160%;
    text-align: center;
    vertical-align: top;
    letter-spacing: 6%;

}
#button{
    
}
.location{
    color:#FFFFFF;
    font-family: roboto;
    font-style: regular;
    font-size: 14px;
    line-height: 24px;
    line-height: 146%;
    text-align: left;
    vertical-align: top;
    letter-spacing: 3%;
}
